<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @story.title %>
</p>

<p>
  <strong>Marvel uuid:</strong>
  <%= @story.marvel_uuid %>
</p>

<p>
  <strong>Description:</strong>
  <%= @story.description %>
</p>

<p>
  <strong>Characters:</strong>
  <%= link_to 'Characters for this story', characters_path(story_marvel_uuid: @story.marvel_uuid) %>

</p>

<%= link_to 'Edit', edit_story_path(@story) %> |
<%= link_to 'Back', stories_path %>
